apiVersion: v1
kind: Service
metadata:
  name: portfolio-app-service
  labels:
    app: portfolio
spec:
  selector:
    app: portfolio
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: portfolio-nodeport
  labels:
    app: portfolio
spec:
  selector:
    app: portfolio
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30080
    protocol: TCP
  type: NodePort
